name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest  
  
    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK 17 for x64
    
      uses: actions/setup-java@v4
      with:
       java-version: '17'
       distribution: 'temurin'
       architecture: x64
       
    - name: Run the Maven verify phase
      run: mvn --batch-mode --update-snapshots verify

    - name: Build and run tests with Maven
      run: mvn test --batch-mode --file pom.xml
    
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag eexperts:latest
     
